body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 60px;
    display: block;
}

h3{
    margin-top:100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    display: block;
}

.containe-title{
    width: 100%;
    font-size: 1.5rem;
    align-items: center;
}

.img-empresa{
    width: 20%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 40%;
    margin-right: 40%;
}

.login-form{
    width: 100%;
    padding:20px;
    align-content:space-around;
    justify-content: center;
    margin-top: -100px;
}

.form-input{
    display: block;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius:5px;
    text-indent: 5px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #000
}

.form-help {
    font-size: 1.2rem;
    text-align: center;
    padding:10px;
}

.form-inputs {
    width: 40%;
    margin-left:30%;
    margin-right: 30%;
    padding:10px;
    border-radius:10px;
    border: 1px solid gray;
}